---
title: Websites for your GitLab projects, user account or group
---
%section.what-is
  .container
    %h2.what-is-title.text-center
      What is GitLab Pages?
    .row
      .col-md-10.col-md-push-1
        .what-is-row.clearfix
          = icon("what-is-icon-1", "what-is-icon", { label: "Create websites for your GitLab Projects" })
          %p.what-is-content
            Create websites for your GitLab projects, groups, or user account.
        .what-is-row.clearfix
          = icon("what-is-icon-3", "what-is-icon", { label: "Use any static website generator" })
          %p.what-is-content
            Use any static website generator: Jekyll, Middleman, Hexo, Hugo, Pelican, and more.
        .what-is-row.clearfix
          = icon("what-is-icon-2", "what-is-icon", { label: "Connect custom domains or SSL certificates" })
          %p.what-is-content
            Connect your custom domain and SSL certificates.
        .what-is-row.clearfix
          = icon("what-is-icon-4", "what-is-icon", { label: "Host for free on GitLab.com" })
          %p.what-is-content
            Host your static websites on GitLab.com for free, or on your own GitLab EE instance.
    .text-center
      %a.get-started.js-scroll-to{ href: "#steps" }
        Let's get started on creating your first static website on GitLab.com
        %i.fa.fa-angle-down
%section#steps.steps
  .step.js-step
    .container
      .step-icon-container
        = icon("step-1-icon", "step-icon", { label: "Fork an example project" })
        %span.step-number.text-center
          [ step 01 ]
      .row
        .col-md-10.col-md-push-1.step-content-holder
          %h3.step-title.text-center
            Fork one of our example projects
          .lead.text-center.step-lead-text
            :markdown
              While you can create a project from scratch, let's keep it
              simple and fork one of your favorite
              [example projects](https://gitlab.com/groups/pages) to get a quick
              start. GitLab Pages work with any static site generator.
          .row.row-eq-height
            .col-md-12
              = image_tag "pages-group.png", class: "img-responsive"
  .step.js-step
    .container
      .step-icon-container
        = icon("step-2-icon", "step-icon", { label: "Enable shared runners" })
        %span.step-number.text-center
          [ step 02 ]
      .row
        .col-md-10.col-md-push-1.step-content-holder
          %h3.step-title.text-center
            Enable shared Runners
          .lead.text-center.step-lead-text
            :markdown
              Runners are virtual machines that will build your project based
              on the `.gitlab-ci.yml` file included in the sample project. You
              can take advantage of the free shared Runners available on GitLab.com;
              however, you are free to [set up your own Runner for your project](http://doc.gitlab.com/ce/ci/runners/README.html#creating-and-registering-a-runner).
          .row.row-eq-height
            .col-md-6
              = image_tag "shared-runners.png", class: "img-responsive"
            .col-md-6.step-content
              :markdown
                Navigate to your project's **Settings > Runners** and click on
                "Enable shared runners." This combines the power of GitLab CI
                with GitLab Runner to deploy static sites based on any generator.
                On new projects this setting may be enabled by default.
  .step.js-step
    .container
      .step-icon-container
        = icon("step-3-icon", "step-icon step-icon-3", { label: "Configure your project" })
        %span.step-number.text-center
          [ step 03 ]
      .row
        .col-md-10.col-md-push-1.step-content-holder
          %h3.step-title.text-center
            Configure your project
          .lead.text-center.step-lead-text
            :markdown
              In this step, you rename your project to your username, and this
              will be available at username.gitlab.io. You can also add GitLab
              Pages sites for groups and projects at either the user or group
              level. [Find out more about Group and Project Pages](http://doc.gitlab.com/ee/pages/README.html#project-pages).
          .row.row-eq-height
            .col-md-6.col-md-push-6
              = image_tag "rename-repo.png", class: "img-responsive step-row-spacing"
              = image_tag "remove-fork-relationship.png", class: "img-responsive"
            .col-md-6.col-md-pull-6.step-content
              :markdown
                In project settings, rename the project name and the path to yourusername.gitlab.io, and follow steps to "Remove fork relationship".
  .step.js-step
    .container
      .step-icon-container
        = icon("step-4-icon", "step-icon", { label: "Edit your site" })
        %span.step-number.text-center
          [ step 04 ]
      .row
        .col-md-10.col-md-push-1.step-content-holder
          %h3.step-title.text-center
            Edit your site
          .lead.text-center.step-lead-text
            :markdown
              Commit & push at least one change in order to trigger the build
              process. You can edit your site files
              [right from the browser](http://doc.gitlab.com/ce/workflow/web_editor.html),
              or use Git from the command line.
          .row.row-eq-height
            .col-md-6
              = image_tag "edit.png", class: "img-responsive"
            .col-md-6.step-content
              :markdown
                Edit your site directly in GitLab from your browser.
          .row.row-eq-height
            .col-md-6
              = image_tag "build.png", class: "img-responsive"
            .col-md-6.step-content
              :markdown
                Once you commit the changes, the build process will begin and
                your site will eventually be available online.
  .step.js-step
    .container
      .step-icon-container
        = icon("step-5-icon", "step-icon", { label: "Visit your site" })
        %span.step-number.text-center
          [ step 05 ]
      .row
        .col-md-10.col-md-push-1.step-content-holder
          %h3.step-title.text-center
            Visit your site!
          .lead.text-center.step-lead-text.step-lead-text-last
            :markdown
              Your site will be available soon at username.gitlab.io

              Next you can [add a custom domain name](http://doc.gitlab.com/ee/pages/README.html#add-a-custom-domain-to-your-pages-website) and a [TLS certificate](http://doc.gitlab.com/ee/pages/README.html#secure-your-custom-domain-website-with-tls) to secure your domain.
%section.learn-about
  .container
    .row
      .col-md-10.col-md-push-1
        %h2.learn-about-title.text-center
          Learn more about GitLab Pages
        .row.js-learn-more
          .col-md-4.learn-about-content
            %a{ href: "https://gitlab.com/groups/pages" }
              = image_tag "engines-pages.png", class: "img-responsive"
            %p.text-center
              Use with any static website generator.
          .col-md-4.learn-about-content
            %a{ href: "http://doc.gitlab.com/ee/pages/README.html#add-a-custom-domain-to-your-pages-website" }
              = image_tag "secure.png", class: "img-responsive"
            %p.text-center
              Add multiple custom domains and secure them with your own TLS certificates.
          .col-md-4.learn-about-content
            %a{ href: "http://doc.gitlab.com/ee/pages/README.html#custom-error-codes-pages" }
              = image_tag "404.png", class: "img-responsive"
            %p.text-center
              Create custom error pages.
